<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Records</title>
    {% include "components/header.html" %}
    <link href="{{ url_for('static', filename='css/pages/index.css') }}" rel="stylesheet">
</head>

<body>
    <div class="horizontally-centered">
        <span class="title">The Archive</span>
        <div class="scattered-container">
            {% for node in nodes %}
            {% if node['STRESS_RELAX'] == "stressor" %}
            {% set color = "bad" %}
            {% else %}
            {% set color = "good" %}
            {% endif %}
            <div class="box">
                <attribute class="{{color}}">
                    <span>{{node['NAME']}}</span>
                    <span>{{node['DATE']}}</span>
                </attribute>
                <attribute class="{{color}}">
                    <span>{{node['STRESS_RELAX']}}</span>
                    <span>{{node['LEVEL']}}</span>
                </attribute>
                <div class="blurb">{{node['DESCRIPTION']}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>