<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Records</title>
    {% include "components/header.html" %}
    <link href="{{ url_for('static', filename='css/pages/index.css') }}" rel="stylesheet">
</head>

<body>
    <div class="horizontally-centered">
        <div class="title">The Archive</div>
        <div class="box">
            <a class="button green" href="/">Back to Home</a>
        </div>
        <div class="scattered-container">
            {% for node in nodes %}
            {% if node['stress_relax'] == "stressor" %}
            {% set color = "bad" %}
            {% else %}
            {% set color = "good" %}
            {% endif %}
            <div class="box">
                <attribute class="{{color}}">
                    <span>{{node['name']}}</span>
                    <span>{{node['date']}}</span>
                </attribute>    
                <attribute class="{{color}}">
                    <span>{{node['stress_relax']}}</span>
                    <span>{{node['level']}}</span>
                </attribute>
                <attribute class="{{color}}">
                    <span>{{node['topic']}}</span>
                    <span></span>
                </attribute>
                <div class="blurb">{{node['description']}}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>