<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% include "components/header.html" %}
</head>

<body>
    <h1 style="font-style: italic; font-family: 'Arvo'" >Arvo: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Arvo'" >Arvo: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'B612 Mono'" >B612 Mono: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Berkshire Swash'" >Berkshire Swash: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Bree Serif'" >Bree Serif: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Cinzel'" >Cinzel: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Cormorant Garamond'" >Cormorant Garamond: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Cormorant Garamond'" >Cormorant Garamond: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Cutive Mono'" >Cutive Mono: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'EB Garamond'" >EB Garamond: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'EB Garamond'" >EB Garamond: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Fondamento'" >Fondamento: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Fondamento'" >Fondamento: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Inconsolata'" >Inconsolata: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Lato'" >Lato: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Lora'" >Lora: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Lora'" >Lora: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Philosopher'" >Philosopher: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Philosopher'" >Philosopher: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-weight: 500; font-family: 'Philosopher'" >Philosopher: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Playfair Display'" >Playfair Display: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Playfair Display'" >Playfair Display: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Pridi'" >Pridi: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Roboto'" >Roboto: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Roboto'" >Roboto: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Roboto'" >Roboto: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Roboto'" >Roboto: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Roboto Slab'" >Roboto Slab: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'VT323'" >VT323: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Varela Round'" >Varela Round: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: normal; font-family: 'Work Sans'" >Work Sans: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
    <h1 style="font-style: italic; font-family: 'Work Sans'" >Work Sans: The Quick Brown Fox Jumped Over the Lazy Dog!</h1>
</body>

</html>