.horizontally-centered{
    text-align: center;
    margin: 1rem;
}

.horizontal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
}
.horizontal-container notes:last-child{
    height: 100%;
    display: flex;
    align-items: center;
}

.horizontal-container>div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.scattered-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.circle{
    background-color: rgba(0, 0, 0, .03);
    border: 1px dotted rgba(0, 0, 0, .5);
    border-radius: 50%;
}
.box {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .03);
    border: 1px dotted rgba(0, 0, 0, .5);
    border-radius: .25rem;
}

.audio-container {
    width: 80%;
}

.audio-container audio {
    width: 100%;
}

attribute{
    font-family: "Inconsolata";
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .25rem;
    border: 1px dotted rgba(255,255,255,.5);
    background-color: rgba(192, 57, 43,.1);
}