.title{
    font-size: 3rem;
    font-family: 'Lora';
    margin: 1rem;
}
.blob{
    font-size: 1.3rem;
    line-height: 3rem;
}
.blurb{
    min-width: 20vw;
    font-family: "Pridi";
    font-size: 1.125rem;
}